@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Connect.Models.Views.ConnectPage

<!--Card-->
<article class="dense">
    <header>
        <nav>
            @Model.PageTitle
        </nav>
    </header>
    <div> 
        <div x-transition class="grid">
            <template x-for="(item, i) in @System.Text.Json.JsonSerializer.Serialize(Model.PageCards) || []" :key="i">
                <div>
                    <!--Card-->
                    <article class="dense pa-0">
                        <header>
                            <nav>
                                <ul>
                                    <li x-text="item.Title">wdqdwq</li>
                                </ul>
                            </nav>
                        </header>
                        <figure>
                            <img  :src="item.Image" :alt="item.Title" />
                        </figure>
                        <div x-text="item.Text"></div>
                        <footer>
                            <nav>
                                <ul>
                                    <li>
                                        <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" :href="item.Href">Try it out</a>
                                    </li>
                                </ul>
                            </nav>
                        </footer>
                    </article>
                </div>
            </template> 
        </div>
        <!--Accounts-->
        <div x-data="aclCommonComponentPanel( {
                component: 'aclTableAjax',
                componentData: @Accelerate.Foundations.Common.Helpers.JsonSerializerHelper.SerializeObject(Model.AccountsTable),
                navigationData: {
                    title: 'Accounts',
                    items: []
                },
            })"></div>
    </div>
    <footer>
        <nav>
            <ul>
                <li>
                    <button>Back</button>
                </li>
            </ul>
        </nav>
    </footer>
</article>