@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Connect.Models.Views.ConnectPage

<!--Card-->
<article class="dense">
    <header>
        <nav>
            @Model.PageTitle
            
            <a href="@Model.StripeAccountLoginUrl">Open Express Dashboard</a>
        </nav>
    </header>
    <div> 
        <div x-data="aclFormFieldsetDisabled(@Accelerate.Foundations.Common.Helpers.JsonSerializerHelper.SerializeObject(Model.Form))"></div>
    </div>
    Connect account details
    <!--Tabs-->
    @if (Model.PageTabs != null && Model.PageTabs.Items != null && Model.PageTabs.Items.Any())
    {
        <div x-data="aclTabsNavigation( @Accelerate.Foundations.Common.Helpers.JsonSerializerHelper.SerializeObject(Model.PageTabs))"></div>
    }
    <footer>
        <nav>
        </nav>
    </footer>
</article>