@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Connect.Models.Views.ConnectPage

<!--Card-->
<article class="dense">
    <header>
        <nav>
            Payment
        </nav>
    </header>
    <div> 
        <div x-data="aclFormAjax(@System.Text.Json.JsonSerializer.Serialize(Model.Form))"></div>
        
    </div>
    <footer>
        <nav>
            <ul>
                <li>
                    <button>Back</button>
                </li>
            </ul>
        </nav>
    </footer>
</article>