@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Connect.Models.Views.ConnectPage

<!--Card-->
<article class="dense">
    <header>
        <nav>
            View your charges
        </nav>
    </header>
    <div>
        TODO
    </div>
    <footer>
        <nav>
            <ul>
                <li>
                    <button>Home</button>
                </li>
            </ul>
        </nav>
    </footer>
</article>